body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Source Sans Pro', sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: Gold;
  line-height: 48px;
  display: inline;
  text-shadow: 1px 1px #0d0d0d;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: Gold;
  text-shadow: 1px 1px #0d0d0d;
  line-height: 29px;
  padding: 10px;
}

h3 {
  color: #ff8000;
  font-size: 20px;
  line-height: 22px;
  font-weight: 200;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: Green;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #7d98b3;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #ecca13;
  line-height: 16px;
  float: right;

}

p {
  font-size: 18px;
  color: #c6b039;
  line-height: 24px;
}

a {
  font-size: 18px;
  color: #4da5ff;
  text-shadow: 1px 1px #cce5ff;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

a:hover {
  color: #fff3b3;
  text-decoration: none;
}

.welcome-message {
  font-size: 20px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  font-style: bold;
  display: none;
}

.white-text {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.orange-text {
  color: #ff4000;
}

.gray {
  padding-bottom: 10px;
  clear:both;
}

em {
  color: #ffffff;
}

/* TODO: Replace with image later */
section.parallax {
background-color:#262626;
background-image:
radial-gradient(#262626 85%, transparent 10%),
linear-gradient(#ac9e53 2px, transparent 2px),
linear-gradient(90deg, #ac9e53 2px, transparent 2px),
linear-gradient(#8c8c8c 1px, transparent 1px),
linear-gradient(90deg, #8c8c8c 1px, transparent 1px);
background-size: 20px 20px, 10px 100px, 100px 10px, 20px 20px, 20px 20px;
background-position: -1px -1px, -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

section.topregular {
  background-color: #262626;
  background-image: linear-gradient(#262626, #404040);
  background-size: 100%;
  background-position: 0px 0px;
  height: 10px;
}

section.bottomregular {
  background-color: #262626;
  background-image: linear-gradient(#404040, #262626);
  background-size: 100%;
  background-position: 0px 0px;
  height: 10px;
}

section.regular {
  background-color: #262626;
  background-image: radial-gradient(#666666, #404040);
  background-size: 100%;
  background-position: 0px 0px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
  color: #ff8000;
  font-weight: 200;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {

  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
