*,
*::before,
*::after {
  box-sizing: inherit;
}

html,body {
  font-family: 'PT Sans', sans-serif;
  background-color: #3f4b4e;
  color: #8CBBAD;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background-color: #3f4b4e;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

p {
  font-size: 18px;
  line-height: 24px;
}

a {
  color: #678cb1;
  font-size: 18px;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

a:hover {
  color: #678cb1;
  text-decoration: underline;
}

a:active {
  color: #678cb1;
}

span {
  padding: 5px;
  font-weight: 200;
}

@-ms-viewport {
  width: device-width;
}

/* start of buttons styles */

.buttons {
    float: left;
    margin-left: calc((100% - 180px) / 2);
}

.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 5px 5px 5px 5px;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  z-index: -3;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.home {
  background: url("home2.png");
  background-image: url("home2.png");
  background-color: transparent;
  background-size: 100%;
  background-position: 0 0;
}

.github {
  background: url("github2.png");
  background-image: url("github2.png");
  background-color: transparent;
  background-size: 100%;
  background-position: 0 0;
  z-index: inherit;
}

.linkedin {
  background: url("linkedin2.png");
  background-image: url("linkedin2.png");
  background-color: transparent;
  background-size: 100%;
  background-position: 0 0;
  z-index: inherit;
}

.icon:hover {
  background-position: 0 -50px;
}

/* end of buttons styles */

#main {
  width: 100%;
}

.nameTop {
  color: #000000;
}

.white-text {
  color: #E0E2E4;
  font-weight: 400;
}

.orange-text {
  color: #bbaf8b;
}

.clear-fix {
  overflow: auto;
}

.date-text {
  font-style: italic;
  float: left;
}

.location-text {
  font-style: italic;
  float: right;
}

.welcome-message {
  font-size: 20px;
  line-height: 28px;
}

.onlineClasses {
  margin-left: 2.5%;
}

#skills-h3 {
  font-weight: bold;
  display: none;
}

/* parallax effect */
section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 200;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
  background-color: #232c31;
}

section.module.parallax {
  height: 600px;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("sthelens3.jpg");
}
section.module.parallax-2 {
  background-image: url("sthelens.jpg");
}
section.module.parallax-3 {
  background-image: url("mtnsunset.jpg");
}
section.module.parallax-4 {
  background-image: url("main12x8.jpg");
}
section.module.parallax-5 {
  background-image: url("clouds12x8.jpg");
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  margin: 2.5% 5%;
}

.biopic {
  float: left;
  width: 200px;
  opacity: .8;
  border: 3px solid #8c8c8c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.biopic:hover {
  opacity: 1;
}

#lets-connect {
  text-align: center;
}

#map {
  display: block;
  height: 100%;
  margin: 0 10%;
  }

#mapDiv {
  height: 600px;
  width: 100%;
  padding-bottom: 5%;
}

#workExperience {
  width: 100%;
}

#education {
  width: 100%;
}

#projects {
  width: 100%;
}

.slideImg {
  height: 600px;
}

/* Media queries to handle various device widths */

@media only screen and (min-width: 701px) {

  .biopic {
    width: 175px;
  }

  section.module.parallax h2 {
    font-size: 80px;
  }

  section.module.parallax-4 h2 {
    font-size: 80px;
    line-height: 600px;
  }

  section.module.parallax-5 h2 {
    font-size: 80px;
    line-height: 600px;
  }

}

@media only screen and (max-width: 700px){

  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h2 {
    font-size: 96px;
  }

  section.module.parallax-4 h2 {
    font-size: 80px;
    line-height: 300px;
  }

  section.module.parallax-5 h2 {
    font-size: 60px;
    line-height: 300px;
  }

.biopic {
  width: 150px;
  }

.welcome-message {
  display: none;
  }

#skills-h3,
.biopic {
  display: block;
  }
}

@media only screen and (max-width: 485px){

  section.module.parallax h2 {
    font-size: 60px;
  }

  section.module.parallax-4 h2 {
    font-size: 60px;
    line-height: 300px;
  }

  section.module.parallax-5 h2 {
    font-size: 60px;
    line-height: 200px;
  }

}